
.general {
    padding:20px;
    flex: 1;
    overflow: hidden;
    margin-bottom: 12px;
    width:320px;
    .title {
        margin-top: 0px;
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
        position: relative;
        i {
            display: none;
        }
    }
    
    .messagesList {
        /* background-color:#fff; */
        height:100%;
        /* width:72px; */
        display:flex;
        flex-direction:column;
        flex:none;
        ul {
            padding: 0px;
            li {
                display: flex;
                align-items: center;
                padding-top: 0px;
                padding-bottom: 0px;
                padding-right: 0;
                margin-left: 0px;
                padding-left: 0px;
                margin-bottom: 14px;
                border-radius: 24px;
                transition:.2s all;
                background-color:transparent;
                cursor: pointer;
                &:hover{
                    background-color:#dddfe2
                }
                .avatarContent {
                    margin-right: 10px;
                    position: relative;
                    .avatar{
                        width:48px;
                        height:48px;
                        display:flex;
                        align-items:flex-start;
                        justify-content:center;
                        position:relative;
                        border-radius:100%;
                        overflow:hidden;
                        margin: auto;
                        background-position: center;
                        background-size: cover;
                    }
                }
                .messageIcon {
                background: #e899ff;
                height: 64px;
                display: flex;
                align-items: center;
                color: #fff;
                cursor:pointer
                }

                .nickname{
                white-space: nowrap;
                overflow: hidden;
                font-weight: 500;
                font-size: 15px;
                margin:0px;
                justify-content: flex-start;
                }
                h2{
                margin: 0px 0 6px 0;
                font-size: 22px;
                color: #65676b;
                }
                .text {
                    padding-top:2px; 
                    height:48px; 
                    overflow:hidden; 
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    flex:1;
                    .messageSmall{
                        height: 15px;
                        overflow: hidden;
                        position: relative;
                    }
                }
                span {
                display: flex;
                position: absolute;
                z-index: 2;
                width: 16px;
                height: 16px;
                background: #e899ff;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                font-size: 8px;
                color: #f0f2f5;
                font-weight: bold;
                right: -4px;
                top: -4px;
                border: 1px solid #f0f2f5;
                }
            }
        }
    }
}

.general {
    &.messagesPage {
        flex: none;
        height:calc(100vh - 60px);
        overflow-y: auto;
        margin: 0;
    }
}
@media (max-width:991px){
    .general {
        width:100%;
        // left: 100%!important;
        // opacity: 1!important;
        // display: flex!important;
        // flex-direction: column;
        // margin-top: 0;
        // height: auto;
        // width: 100%;
        // z-index: 990;
        // top: 0px;
        // bottom: 0;
        // right: 0;
        // position: fixed;
        // background: #fff;
        // padding: 20px;
        // margin-bottom: 0px;
        // overflow: auto;
        // -webkit-transition: all .3s;
        // transition: all .3s;
        &.active {
            left: 0!important;
        }
        .title {
            display: flex;
            justify-content:space-between;
            align-items:center;
            margin-bottom: 15px;
            i {
                display: inline;
                font-size: 20px;
            }
        }
    }
}