
.faq {
    margin-bottom: 10px;
    width: 280px;
    padding:15px
}
.faq_2 {
    margin-top: 60px;
    width: 100%;
    padding:0;
    .item {
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        margin-bottom: 0px;
    }
    small {
        font-size: 14px;
        padding:0px!important
    }
}
.item {
    margin-bottom: 10px;
}
.header {
    margin-top: 0px;
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    position: relative;
}
.faq p{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    color: #494c61;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 0;
}
.faq small{
    font-size:14px;
    display:block;
    max-height: 0px;
    overflow: hidden;
    margin-bottom:0;
    transition: .3s all;
    background: #fff;
    margin-top: 1px;
    line-height: 22px;
}
.active small {
    max-height: 400px;
    padding: 14px;
}
@media (max-width:991px){
    .faq {
        width: 100%;
        margin-bottom: 80px;
    }
}