.notices {
    padding:0px;
    overflow: hidden;
    margin-bottom: 12px;
    width:320px;
    .title {
        margin-top: 0px;
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
        position: relative 
    }
    ul li{
        background-color: #f1c40f;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        font-weight: 500;
        position: relative;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
        span {
            position: absolute;
            right: -6px;
            top: -6px;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            background-color: #f39c12;
            display:flex;
            justify-content: center;
            align-items:center;
            color: #fff;
            cursor: pointer;
            transition: .3s all;
            font-size: 10px;
            &:hover {
                background-color: #e28b00;
                border-radius: 90px;
            }
        }
    }
}