$primary-color: #e899ff;
$primary-color-dark: #ac79bb;
$white: #fff;

.general {
    display: flex;
    color: #4d4d4d;
    .left {
        flex:none;
        width: 270px;
        padding:20px 0;
        margin-right: 30px;
    }
    .content {
        flex:1;
        max-width: 840px;

    }
}
.mobileLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    .content {
        flex:1;
    }
}