
.headerBar {
    width: 100%;
    color: #4d4d4d;
    .headerLogo {
        // height: 46px;
        margin-bottom:20px;
        // justify-content: center;
        a {
            display: flex;
            justify-content: center;
        }
    }
    .headerProfile {
        .profile {
            .profileAvatar {
                display: flex;
                margin-bottom: 30px;
                .img {
                    width: 60px;
                    height:60px;
                    border-radius: 15px;
                    overflow: hidden;
                    box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.12);
                    margin-right: 15px;
                }
                .name {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex:1;
                    .coins {
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        color: #fd8c03;
                        img {
                            margin-right: 5px;
                        }
                    }
                    .dFlex {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .vip {
                        display: flex;
                        align-items: center;
                        color: #777;
                        img {
                            filter: grayscale(100%);
                            margin-right: 5px;
                        }
                        &.active, &:hover{
                            color: #fd8c03;
                            img {
                                filter: grayscale(0%)
                            }
                        }
                    }
                }
                p {
                    margin:0px;
                    font-weight: bold;
                    font-size: 18px;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .menu {
        width: 100%;
        .main {
            display: flex;
            flex-direction: column;
            width: 100%;
            li{
                position: relative;
                .newMessage{
                    position: absolute;
                    top: 5px;
                    left: 9px;
                    width: 16px;
                    height: 16px;
                    background: #ec6e80;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    font-size: 11px;
                    color: #fff;
                    z-index: 1;
                    font-weight: 600;
                } 
            }
            .a {
                font-size: 16px;
                display: flex;
                align-items: center;
                font-weight: 500;
                margin-bottom: 10px;
                padding:10px 15px;
                filter: grayscale(100%);
                cursor: pointer;
                background-color: transparent;
                width: 100%;
                border-radius: 50px;
                transition: .2s all;
                color: inherit;
                position: relative;
                &.active, &:hover{
                    background-color: #eee;
                    filter: grayscale(0%);
                    color: var(--primary-color);
                }
                img {
                    margin-right: 15px;
                }
            }
        }
    }
}