
.headerBar {
    //box-shadow: 0 0 12px 0 rgba(63,66,87,.1);
    // background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 11;
    top: 0;

    background-color: rgba(240, 240, 240, .85);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    .messageButton {
        display: none;
    }
    .container {
        display: flex;
        justify-content: space-between;
        height:70px;
        align-items: center;
        max-width: 1220px;
        margin:auto;
        .left {
            display: flex;
            align-items: center;
            flex:1;
        }
    }
    .newMessage {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 18px;
        height: 18px;
        background: #f56667;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        z-index: 1;
    }
    .headerLogo {
        display: flex;
        align-items: center;
        margin-right: 10px;
        // width: 48px;
        overflow: hidden;
    }
    .headerProfile {
        justify-content: flex-end;
        display: flex;
        align-items: center;
        .profile {
            display: flex;
            color: #3498db;
            align-items: center;
            transition: .2s all;
            border-left: 1px solid #dcdcdc;
            height: 22px;
            padding-left:15px;
            cursor: pointer;
            // &:hover {
            //     background-color: #f0f2f5;
            // }
            .profileAvatar {
                height: 32px;
                width: 32px;
                border-radius: 100%;
                display:flex;
                align-items: center;
                position: relative;
                flex:none;
                .img {
                    height:100%;
                    width:100%;
                    overflow: hidden;
                    border-radius: 100%;
                    img {

                        min-height: 100%;
                        width:100%
                    }
                }
            }
            .profileP {
                margin-right:10px;
                font-weight: 400;
                // max-width: 100px;
                overflow: hidden;
                display: flex;
                align-items: center;
            }
        }
        .vip {
            color: #eb1772;
            text-transform: uppercase;
            margin-right: 15px;
        }
       .coins {
            display:flex;
            margin-right: 15px;
            img {
                margin-right: 10px;
            }
            b {
                color: #f6c358;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
    .logo {
        height:46px;
    }
    .menu {
        position: relative;
        // max-width: 680px;
        flex:1;
        ul.main {
            margin-left: 15px;
            margin-right: 15px;
            flex: auto;
            display: flex;
            li{
                // flex:1;
                margin:0 2px;
                display:flex;
                justify-content:center;
                position: relative;
                // :nth-child(1) .a{
                //     &.active {
                //         &:after{
                //             display: block;
                //         }
                //     }
                // }
                .a {
                    padding:0 10px;
                    height: 40px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    transition: .2s all;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 14px;
                    cursor: pointer;
                    white-space: nowrap;
                    img {
                        margin-right: 6px;
                    }
                    &.active {
                        background-color: #e7e7e7!important;
                        // &:after{
                        //     content: '';
                        //     display: none;
                        //     position: absolute;
                        //     left: calc(50% - 6px);
                        //     top: 100%;
                        //     width: 0;
                        //     height: 0;
                        //     border-left: 12px solid transparent;
                        //     border-right: 12px solid transparent;
                        //     border-top: 12px solid #e8e8e8;
                        //     clear: both;
                        //     // content: "";
                        //     // position: absolute;
                        //     // bottom:-6px;
                        //     // left:0;
                        //     // width: 100%;
                        //     // height: 3px;
                        //     // background: #ada4ff;
                        //     // border-radius: 4px;
                        // }
                        img:nth-child(2) {
                            display: block;
                        }
                    }
                    // span {
                    //     position: absolute;
                    //     bottom: -44px;
                    //     margin: auto;
                    //     height: 34px;
                    //     color: #fff;
                    //     background-color: #333;
                    //     line-height: 34px;
                    //     padding: 0 12px;
                    //     border-radius: 8px;
                    //     opacity: 0.9;
                    //     display: none;
                    // }
                    &:hover {
                        background-color: #eee; 
                        // span {
                        //     display: block; 
                        // }
                    }
                }
            }
        }
    }
    .subMenu {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        background-color:rgba(80,80,80,0.85);
        // -webkit-backdrop-filter: blur(5px);
        // backdrop-filter: blur(5px);
        height: 40px;
        display: flex;
        align-items: center;
        // overflow: hidden;
        transition: .3s all;
        max-height: 50px;
        ul{
            display:flex;
            white-space: nowrap;
            width: 1220px;
            margin: auto;
            padding-left: 140px;
            li {
                margin-right: 15px;
                .a{
                    color: #fff;
                    font-weight: 300;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}
@media (min-width:991px){
    .headerBar.hideMenu {
         .subMenu{
             max-height: 0px;
             pointer-events: none;
             .a {
                 color: transparent;
             }
         }
    }
}
@media (max-width:991px){
    .menu.mobile {
        margin-top: 0px;
        .main {
            transition: .5s all;
            padding:0px 20px;
            margin-bottom: 0px;
            max-height: 0px;
            overflow: hidden;
            color: #777;
            &.active {

                padding:20px;
                border-bottom: 1px solid #eee;
                margin-bottom: 20px;
                max-height: 500px;
            }
            .a {
                display: flex;
                font-size: 16px;
                height: 50px;
                align-items: center;
                img {
                    margin-right: 10px;
                }
            }
        }
        .subMenu {
            padding:0 20px;
            max-height: 400px;
            h3 {
                font-size: 20px;
                font-weight: 500;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
            }
             a{
                 color: #0281ca;
                 font-size: 16px;
                 padding:10px 20px 10px 0;
             }
        }
    }
    .open {
        height: 50px;
        display: flex;
        align-items: flex-end;
        background-color: #eee;
        padding:0 20px;
        font-size: 16px;
        height: 120px;
        padding-bottom: 15px;
        &.active {
            img:nth-child(3){
                transform: rotate(180deg);
            }
        }
        span {
            margin-bottom: -4px;
        }
        img:nth-child(1) {
            margin-right: 10px;
        }
        img:nth-child(3) {
            margin-left: auto;
        }
    }
    .headerBar {    
        z-index: 998;
        left: 0;
        width: auto;
        right: 0;
        border-radius: 0;
        box-shadow: 0 0 0;
        background-color: transparent;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        .container{
            height: 62px;
        }
        .headerProfile {
            width:calc(100% - 100px)!important;
            height:62px;
            box-shadow: 0 0 12px 0 rgba(63,66,87,.1);
            background-color: rgba(255,255,255,0.8);
            border-radius: 60px 0 0 60px;
            padding-left: 15px;
            margin-left: 10px;
            padding-right: 10px;
            flex-direction: row-reverse;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            display: flex;
            justify-content: space-between;
            .profile {
                border:0;
                padding-left: 0px;
            flex-direction: row-reverse;
            }
            .profileP {
                flex-direction: row-reverse;
                margin-left: 10px;
                img {
                    margin-left: 6px;
                }
            }
            .coins {
                margin-right: 5px;
            }
        }
        .headerLogo {
            // flex-wrap: nowrap;
            // width: none!important;
            // flex:1;
            box-shadow: 0 0 12px 0 rgba(63, 66, 87, 0.1);
            position: fixed;
            left: 0;
            top: 0;
            background-color: rgba(255,255,255,0.8);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            width: 60px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            border-radius: 0 60px 60px 0;
            .logo {
                width: 47px;
                overflow: hidden;
                flex: none;
            }
        }
        .menu {
            display: none!important;
                // padding-bottom: 6px;
                // position: fixed;
                // bottom:0;
                // z-index: 22;
                // left: 0;
                // right: 0;
                // background: #fff;
                // bottom: 0;
                // margin-left: 0;
                // width: 100%;
                // box-shadow: 0 0 5px rgba(0,0,0,.2);
        }
        .profile {
            max-width: 100%;
        }
    }
    .messageButton {
        display: block;
        position: fixed;
        bottom: 0;
        margin: auto;
        z-index: 999;
        background: #eb4f42;
        padding: 6px 15px;
        font-size: 16px;
        color: #fff;
        border-radius: 10px 10px 0 0;
        left: 0;
        right: 0;
        width: 115px;
        text-align: center;
        &:after {
            content:"";
            position: fixed;
            left:0;
            right:0;
            height: 3px;
            background-color: #eb4f42;
            bottom:0;
        }
        span {
            position: absolute;
            top:-5px;
            right:-5px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: #ffc401;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
        }
    }
}