
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.userList_5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 42px;
    margin-top: 30px;
    margin-bottom: 30px;
    // justify-content: space-between;
    .box {
        &:nth-child(3n-1){
            margin-top: -42px;
        }
        width:100px;
        // flex-grow: 1;
        border-radius: 5px;
        position: relative;
        margin: 8px;
        margin-bottom: 18px;
        // width: 100%;
        flex: none;
        text-align: center;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); 
        animation-duration: .8s !important;
        animation-fill-mode: both !important;
        .nickname {
            font-weight: 500;
            font-size: 14px;
            margin: 4px 0 0;
            display: flex;
            overflow: hidden;
            align-items: center;
            color: #232323;
            justify-content: center;
            white-space: nowrap;
            span {
                color: inherit;
                transition: .2s all;
            }
        }
        &>div:nth-child(2){
            padding:0px 12px 12px 12px;
        }
        &:hover {
            .nickname span {
                color: #ec6e80;
            }
        }
    }
    .content {
        position: relative;
        .bgContent {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            overflow: hidden;
            width: 100px;
            height: 100px;
            position: relative;
            border-radius: 100px;
        }
        .bg{
            position: absolute;
            height: 100%;
            width: 100%;
            background-position: 50%;
            background-size: cover;
            transition: all .5s;
        }
        &:hover {
            .bg {
                transform: scale(1.1);
            }
        }
        .status {
            position: absolute;
            top:13px;
            left:13px;
            img {
                transform: scale(1.5);
            }
        }
    }
}