.lastUsers{
    padding:20px;
    flex: 1;
    overflow: hidden;
    margin-bottom: 12px;
    width:320px;
    .title {
        margin-top: 0px;
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
        position: relative 
    }
    .slider_arrow {
        display: none;
    }
    ul {
        li {
            padding:0;
            margin-bottom:10px;
            a {
                padding:0;
                display:flex;
                align-items:center;
                width:100%;
                .avatar {
                    width:44px;
                    height:52px;
                    border-radius:3px;
                    background-position:center;
                    background-size:cover;
                    margin-right:10px
                }
                b {
                    font-weight: 500;
                    // font-size:15px;
                    // color:#65676b
                }
            }
        }
    }
}


@media (max-width:991px){
    .list {
        width: 9999px;
        position: relative;
        transition: .5s all;
        left: 0;
        &.react-draggable-dragging {
            transition: 0s all;
        }
        ul {
            display: flex;
            li {
                width: 84px;
                margin-right: 10px;
                overflow: hidden;
                a {
                    display: flex;
                    flex-direction: column;
                    .avatar {
                        width: 84px;
                        height: 110px;
                        border-radius: 10px;
                        margin-right: 0px;
                    }
                    b {
                        font-size: 13px;
                        margin-top: 6px!important;
                        opacity: .8;
                        display: block;
                    }
                }
            }
        }
    }
}
@media (max-width:991px){
    .lastUsers {
        width:100%
    }
}