
.editPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 90px;
    .content{
        width: 100%;
        flex:1
    }
    .absolute{
        position: absolute;
        opacity: 0;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        cursor:pointer;
        z-index:2
    }
    .submit {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        span {
            color: #3F4254 !important;
            font-weight: 400;
            font-size: 16px !important;
        }
    }
    .photoEdit {
        width: 44px;
        height: 44px;
        border-radius: 0 0 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        position: absolute;
        right: -2px;
        top: -2px;
        // background-color:#f56667;
        font-size: 25px;
        overflow: hidden;
        cursor: pointer;
        transition: .2s all;
        &.type_2 {
            top:-10px;
            right:-10px;
        }
        input {
            opacity: 0;
            position: absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            cursor: pointer;
        }
        &:hover{
            // background-color:#f56667;
            color:#fff;
            border-radius: 5px;
        }
    }
    .photos {
        display: flex;
        flex-wrap: wrap;
        .imgUpload {
            background-color:#eee;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border:2px solid #fff;
            b {
                cursor: pointer;
            }
        }
        li {
            width: 120px;
            height: 120px;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0 0 15px rgba(0,0,0,.14);
            margin-right: 10px;
            margin-bottom: 10px;
            position: relative;
            .trash {
                width: 26px;
                height: 26px;
                border-radius: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                position: absolute;
                background: #f56667;
                font-size: 12px;
                overflow: hidden;
                cursor: pointer;
                transition: .2s all;
                top: -4px;
                right: -4px;
                img {
                    width:16px;
                }
                &:hover{
                    background-color:#de3b3c
                }
            }
        }
    }
    .avatar {
            position: relative;
            width: 240px;
            height: 240px;
            border-radius: 5px;
            border: 4px solid #fff;
            cursor: pointer;
            box-shadow: 0 0 15px rgba(0,0,0,.14);
            margin-bottom: 20px;
            background-position: center;
            background-size: cover;
    }
}

.sidebar {
    position: fixed;
    top: 70px;
    z-index: 99;
    width: 840px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 10px 10px;
    padding: 0 10px;
    margin-bottom: 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    ul {
        display: flex;
        li{
            padding: 18px;
            font-size: 16px;
            cursor: pointer;
            font-weight: 500;
            a{
                &.active {
                    color:var(--primary-color)
                }
            }
        }
    }
}
.profilePage {
    width: 100%;
    position: relative;
    .absolute{
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        opacity: 0;
        cursor: pointer;
    }
    .messageButton {
        border-radius: 5px;
        height: 50px;
        width: 250px;
        margin-top:40px;
        flex: none;
        margin-bottom:0px
    }
    .slider {
        display: flex;
        overflow-y: scroll;
        .sliderContent {
            min-width: 9999px;
            display: flex;
        }
    }
    .list_2 {
        display: flex;
        align-items: center;
        width:100%;
        flex-wrap:wrap;

        h4 {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-right: 20px;
            flex:none;
            width:100%;
        }
        &>div {
            margin-right: 15px;
            background-color: #eee;
            border-radius: 50px;
            padding:7px 16px;
            color: #3498da!important;
            font-weight: 500;
            transition: .2s all;
            &:hover {
                background-color: #3498da;

                color: #fff!important;
            }
        }
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        &>div {
            flex:1
        }
    }
    .info {
        background-color: #f0f0f0;
        color: #999999;
        border-left: 5px solid #1acc8e;
        display: inline;
        padding:25px 40px;
        min-height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        position: relative;
        font-size: 16px;
        max-width: 450px;
        .icon {
            width:34px;
            height: 34px;
            display:flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            position: absolute;
            background-color: #f0f0f0;
            left: -17px;
            top: 0;
            bottom: 0;
            margin: auto;
            box-shadow: -2px 0px 1px 1px rgba(0,0,0,0.1);
        }
    }
    .top{
        position: relative;
        margin-top:0px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #f9f9f9;
    }
    .content {
        padding:40px 0;
        h4{
            font-size: 22px;
            color: #333;
            margin-top: 20px;
            margin-bottom: 0px;
        }
    }
    .container {
        width: 100%;
        margin:auto;
        position: relative;
        display: flex;

        .photosGeneral {
            position: relative;
            .hidden {
                overflow: hidden;
            }
            .rightArrow, .leftArrow {
                position: absolute;
                right: -15px;
                top: 0;
                bottom: 0;
                margin: auto;
                z-index: 2;
                background-color: #fff;
                width: 30px;
                height: 30px;
                cursor: pointer;
                box-shadow: 0 0 5px rgba(0,0,0,0.1);
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .leftArrow {
                right: auto;
                left: -15px;
            }
        }
        .photos {
            display: flex;
            flex-wrap: wrap;
            width: 9999px;
            &.sliding {
                transition: .3s all;
            }
            .trash {
                width:20px;
                height:20px;
                border-radius:3px;
                display:flex;
                align-items:center;
                justify-content:center;
                color:#fff;
                position:absolute;
                background:#f56667;
                font-size:12px;
                overflow:hidden;
                cursor:pointer;
                transition:.2s all;
                top:5px;
                right:5px;
                &:hover{
                    background-color:#de3b3c
                }
            }
            li{
                &:nth-child(2n){
                    margin-right: 6px;
                }
                &:nth-child(2n - 1){
                    margin-right: 6px;
                }
                height:120px;
                width:120px;
                position:relative;
                overflow:hidden;
                display:flex;
                align-items:center;
                justify-content:center;
                background:#ddd;
                &:hover {
                    div {
                        opacity: 1;
                    }
                }
                div {
                    background:rgba(0,0,0,0.3);
                    display:flex;
                    align-items:center;
                    justify-content:space-around;
                    position:absolute;
                    left:0;
                    right:0;
                    top:0;
                    bottom:0;
                    font-size:36px;
                    color:#fff;
                    opacity: 0;
                    cursor: pointer;
                    transition:.2s all;
                }
                .buyBtn {
                    display: flex;
                    justify-content:center;
                    flex-direction: column;
                    text-align: center;
                    opacity: 1;
                    cursor: pointer;
                    b {
                        font-size: 14px;
                    }
                    p{
                        font-size:14px
                    }
                }
            }

            .imgContent{
                height:120px;
                width:120px;
                position:relative;
                overflow:hidden;
                border-radius:5px;
                display:flex;
                align-items:center;
                justify-content:center;
                background:#eee;
                font-size:12px;
                flex-direction: column;
                cursor:pointer;
                text-align: center
            }
            .imgContentIcon{
                font-size:60px;
                line-height:50px;
                opacity:.2
            }
        }
        .left {
            width:420px;
            .mainImage {
                height:420px;
                width:420px;
                // border-radius: 10px;
                background-position: center center;
                background-size: cover;
            }
        }
        .right {
            padding-left: 30px;
            .h2 {
                margin: 0;
                font-size: 32px;
                color: #dc3545;
                font-weight: 500;
            }
            .p{
                margin:12px 0 0;
                font-size: 16px;
                opacity: .8;
            }
            .status {
                font-weight: 300;
                font-size: 17px;
                display: flex;
                align-items: center;
                &.online  {
                    color: #3ec243
                }
                &.offline  {
                    color: #f56667
                }
            }
        }
    }

    .hediye {
        margin-top: 20px;
        font-size: 16px;
        max-width: 250px;
        text-align: center;
        background-color: #eeee;
        border-radius: 6px;
        padding: 12px;
        cursor: pointer;
        transition: .2s all;
        &:hover{
            background-color: #ddd;
        }
        p{
            margin-bottom: 0px;
            margin-top: 5px;
            font-size: 14px;
            // text-align: left;
        }
        .p {
            display: flex;
            margin-top: 10px;
        }
        .b {
            width:250px;
            font-weight: 300;
        }
        b {
            font-weight: 500;
        }
    }
    .list {
        margin-top: 40px;
        font-size: 16px;
        .p {
            display: flex;
            margin-top: 10px;
        }
        .b {
            width:260px;
            margin-right: 20px;
            font-weight: 300;
        }
        b {
            font-weight: 500;
        }
    }
    .buttonsMobil {
        display: none;
    }
    .buttons {
        text-transform:none;
        border-radius: 5px;
        height: 50px;
        width: 250px;
        margin-top:20px
    }
}

@media (max-width:991px){
    .editPage {
        padding:20px;
    }
    .profilePage {
         .messageButton, .hediye, .hediye .b, .buttons{
             width: 100%;
             max-width: 100%;
         }

        .buttonsMobil {
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            bottom:70px;
            left:0;
            right:0;
            z-index: 2;
            p{
                display: none;
            }
            button {
                width: 68px;
                height: 68px;
                background: #FFF;
                border: none;
                -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
                box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
                border-radius: 50%;
                margin-right: 10px;
                // margin-left: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .h2 {
            margin-top: 30px!important;
        }
        .container {
            width:100%;
            padding:20px;
            display: flex;
            flex-direction: column;
            .left {
                width:100%;
                .mainImage {
                    height:380px;
                    width:100%;
                    max-width: 340px;
                    margin: auto;
                }
            }
            .right{
                padding-left: 0px;
            }
        }
        .content{
            padding:30px
        }
        .list {
            margin-top: 0px;
            .b {
                width:170px;
                flex:none
            }
        }
        .top{
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .list_2 {
            &>div {
                margin-top:5px!important;
                margin-bottom: 5px!important;
            }
        }
    }
}