.footerGeneral {
    width:100%;
    padding:20px;
    background-color: #f3f3f3;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer {
    width: 100%;
    margin-top: auto;
    font-size: 16px;
    color: #65676b;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .c {
        display: flex;
        align-items: center;
    }
    .links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 15px;
    }
    .links2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    .social {
        display: flex;
        margin-right: auto;
        align-items: center;
        // margin-right: 18px;
        a {
            color: #fff;
            margin-right: 14px;
            border-radius: 7px;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            font-size: 23px;
            // border: 1px solid #e6edf6;
            margin-left: auto;
            transition: .2s all;

            img{
                width:25px
            }
            i {
                display: flex;
            }
            // &:hover {
            //     background-color: #fff;
            //     color: #4267B2;
            // }
            // &:nth-child(2) {
            //     background-color: #833AB4;
            //     &:hover {
            //         background-color: #fff;
            //         color: #833AB4;
            //     }
            // }
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom:15px;
        margin-left: 0px;
        li {
            cursor: pointer;
            margin-left: 25px; 
            font-weight: 400;
            color:#bd2130;   
            font-size: 17px;
            &:hover {
                text-decoration: underline;
            }  
        }
    }
    .img {
        height: 46px;
    }
}
@media (max-width:991px){
    .footer{
        width:100%;
        text-align: center;
        padding: 0px;
        ul {
            justify-content: center;
             li {
                 margin-left: 12px;
                 margin-right: 12px;
             }
        }
        .img {
            margin:15px auto
        }
    }
}