
.button {
  box-shadow: 0px 0px 0px;
  padding: 0px 15px;
  border-radius: 10px;
  height:52px;
  transition: .2s all;

  &.success {
    color: #fff;
    background: #1dd1a1;
    &:hover {
    background: #10ac84
    }
  }
  &.primary {
    color: #fff;
    background: rgb(95,236,237);
    background: linear-gradient(90deg, rgba(95,236,237,1) 0%, rgba(78,196,248,1) 100%);
    &:hover {
    background: linear-gradient(90deg, rgba(78,196,248,1) 0%, rgba(78,196,248,1) 100%);
    }
  }
}